pip==24.0
ipython==8.18.1

# test
tox==4.15.0
coveralls==4.0.1

# docs
-r requirements_docs.txt

Django==4.2.16
mysqlclient==2.2.4
-r requirements_test.txt

# 打包需要
setuptools==70.0.0
wheel==0.43.0
twine==5.0.0
