
body {
  margin: 0;
  font-family: 'Segoe UI', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cls-tree-view {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  margin-top: 10px;
  overflow: auto;
  border: 2px solid #f5f7f9;
}

.cls-tree-container {
  min-height: 600px;
  margin-bottom: 100px;
}
